// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #5d2f0c;
$secondary : #91350a;
$accent    : #b06e27;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #135322;
$negative  : #66101a;
$info      : #a78b1d;
$warning   : #c9d727;
